{% block content %}
    <h1>Redefinição de Senha</h1>

    <h1>Olá {{ first_name }}!</h1>


    <p>Você solicitou a redefinição de senha. Clique no link abaixo para continuar:</p>

    <p>
        <a href="{{ reset_link }}">Redefinir minha senha</a>
    </p>

    <p>Este link expirará em {{ expiration_date|date('d/m/Y H:i') }}.</p>

    <p>Se você não solicitou isso, por favor ignore este e-mail.</p>
{% endblock %}