{% block content %}
    <h1>A sua senha foi alterada</h1>

    <h1>Olá, {{ firstname }}!</h1>

    <p>Identificamos que a sua senha foi alterada no sistema.</p>

    <p>
        <strong>Dados do acesso:</strong> {{ device }}. No dia {{ datetime|date('d/m/Y') }} ás {{ datetime|date('H:i') }}.
    </p>

    <p>Se você desconhece essa alteração, por favor entre em contato com o suporte.</p>
{% endblock %}
