{% block content %}
    <h1>Bem-vindo(a), {{ first_name }}!</h1>

    <p>Uma conta foi criada para você. Para ativá-la, é necessário redefinir sua senha.</p>

    <p>
        <a href="{{ reset_link }}">Redefinir minha senha</a>
    </p>

    <p>Este link expirará em {{ expiration_date|date('d/m/Y H:i') }}.</p>

    <p>Se você não esperava este e-mail, por favor ignore-o.</p>
{% endblock %}
