<div class="row">
    <div class="col-12 mb-3">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="acceptTerms" name="acceptTerms" required>
            <label for="acceptTerms" class="form-check-label"><a href="#" data-bs-toggle="modal" data-bs-target="#modal-about-program">{{ 'view.organization.accept_terms' | trans }}</a></label>
        </div>
    </div>
</div>

{% include "regmel/register/_partials/modal-about-program.html.twig" %}
