<div class="modal fade" id="modal-about-program" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ "join_terms" | trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut blandit tellus sem, vitae rutrum elit mollis et. Proin odio erat, ultrices ut elit a, scelerisque vestibulum nunc. Nullam ultricies enim luctus odio placerat, quis cursus odio porttitor. Morbi sollicitudin, odio sed pretium consequat, justo mi bibendum urna, id ornare mi ligula in diam. Etiam facilisis nulla risus. Sed eget lacus a nisl rhoncus faucibus. Vivamus enim felis, scelerisque non sapien et, finibus congue ante. Aenean non consectetur ligula. Cras auctor lacinia finibus. In vel est porta, interdum ligula nec, semper diam. Pellentesque gravida suscipit condimentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam nulla nisi, porta consequat pharetra ac, varius ut sem. Sed accumsan pellentesque arcu nec porttitor. In ut cursus velit, et ultricies erat. Nulla elementum elit ut nibh rutrum, non vulputate magna feugiat.
                </p>
                <p>
                    Nunc at bibendum mauris. Proin finibus ex leo, eu pulvinar dui facilisis at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse id mauris vel ligula congue mollis. Praesent pulvinar leo a pulvinar mattis. Phasellus suscipit lobortis sem. Integer condimentum est orci, et viverra arcu ullamcorper sit amet. Cras mattis dui leo, id blandit lorem tincidunt non. Phasellus condimentum sodales gravida. Nam leo ex, cursus sed lacinia a, mattis in diam. Etiam egestas eget enim vitae tincidunt. Vivamus varius metus massa, sollicitudin laoreet libero tristique convallis. Aliquam nisi dolor, vulputate vel suscipit tincidunt, sagittis ut libero. Ut sem quam, lacinia feugiat mollis ac, condimentum quis ex.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "close" | trans }}</button>
            </div>
        </div>
    </div>
</div>