{% block content %}
    <h1>Termo de adesão do município foi reprovado.</h1>

    <h1>Olá!</h1>

    <p>O termo de adesão do município, <strong>{{ municipality }}</strong>, foi <span style="font-weight: bold; color: red;">reprovado</span>.</p>

    <p>Motivo: {{ reason }}</p>

    <p>Acesse o sistema <a href="{{ loginPage }}">Minha Casa Melhor</a> para poder reenviar o termo de adesão.</p>
{% endblock %}
