{% block content %}
    <h1>Termo de adesão do município foi aprovado.</h1>

    <h1>Olá!</h1>

    <p>O termo de adesão do município, <strong>{{ municipality }}</strong>, foi <span style="font-weight: bold; color: green;">aprovado</span>.</p>

    <p>Motivo: {{ reason }}</p>
{% endblock %}
