{% block content %}
    <p>Uma nova organização do tipo {{ organization_type }} foi credenciada ✅</p>

    <p>Aqui estão os detalhes:</p>

    <div style="display: inline-block; text-align: left; margin: 0 auto;">
        <strong>Por quem:</strong> {{ user_name }}<br>
        <strong>Nome:</strong> {{ organization_name }}<br>
        <strong>Quando:</strong> {{ organization_created_at }}<br>
    </div>

    <p>Você pode acessar o sistema para visualizar mais informações.</p>

{% endblock %}
