{% block content %}
    <h1>Convite para Município</h1>

    <h1>Olá {{ name }}!</h1>

    <p>Você foi convidado a participar do município de {{ municipality }}.</p>

    <p>Clique <a>aqui</a> para aceitar o convite.</p>
{% endblock %}