{% block content %}
    <h1>Convite para organização</h1>

    <h1>Olá {{ name }}!</h1>

    <p>Você foi convidado a participar da organização {{ organization }}.</p>

    <p>Clique <a href="{{ confirmationUrl }}">aqui</a> para aceitar o convite.</p>
{% endblock %}