{% block content %}
    <h1>Olá, o status da proposta foi alterado</h1>

    <p>O município {{ municipalityName }} teve uma proposta da empresa {{ companyName }} com status atualizado.</p>
{% endblock %}